.whiteBackground{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0;

}

.item{
    box-sizing: border-box;
    height: 150px;
    display: flex;

    &__image{
        height: 90%;
        border-radius: 2px;
        padding: 5px;
    }
}

.information{
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__name{
        padding: 0 30px;
    }

    &__price{
        font-weight: bold;
        padding: 0 30px;
    }
}