.main{
    width: 1440px;
    margin: 0 auto;

    &__category{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title{
        text-align: center;
    }

    &__item{
        margin: 10px;
        display: flex;
    }
}

